<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理系统</title>
    <%- include("./public/js.html") %>

</head>

<body>
    <div id="wrapper">
        <%- include("./public/left.html") %>
        <div id="page-wrapper" class="gray-bg">
            <%- include("./public/header.html") %>
            <%- include("./public/subheader.html") %>
            <%# 这里是页面内容开始 %>
            <%- include(template) %>
            <%# 这里是页面内容结束 %>
            <%- include("./public/footer.html") %>
        </div>
    </div>
</body>
</html>
